.navbar{
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.209)
}

.fetch-logo{
  width: 4rem;
}

@media (min-width: 48rem) {
  .fetch-logo{
    width: 5rem;
  }

}

@media (min-width: 64rem) {

  .fetch-logo{
    width: 6rem;
  }

}
